In [2]:
import pandas as pd
import json
from platform import python_version

In [3]:
print(python_version())
print(pd.__version__)

3.10.10
2.1.1

In [7]:
import os

In [8]:
current_directory = os.getcwd()

In [12]:
files_and_directories = os.listdir('/home/rodrigo/repos/DATAVIZ_project/')

In [14]:
print("Current Directory:", current_directory)
print("files and directories:", files_and_directories)

Current Directory: /home/rodrigo/repos/DATAVIZ_project/dataviz_venv
files and directories: ['README.md', '.git', 'BIOPRO_G.csv', 'dataviz_venv']

In [17]:
df = pd.read_csv('/home/rodrigo/repos/DATAVIZ_project/BIOPRO_G.csv')

In [23]:
df.head()

,Unnamed: 0,seqn,lbxsal,lbdsalsi,lbxsatsi,lbxsassi,lbxsapsi,lbxsbu,lbdsbusi,lbxsca,...,lbxsua,lbdsuasi,lbxsnasi,lbxsksi,lbxsclsi,lbxsossi,lbxsgb,lbdsgbsi,lbxstr,lbdstrsi
0,1,62161,4.8,48.0,19.0,25.0,89.0,14.0,5.00,9.6,...,4.9,291.5,137.0,3.9,100.0,274.0,2.8,28.0,82.0,0.926
1,2,62163,4.0,40.0,13.0,19.0,167.0,16.0,5.71,9.1,...,5.8,345.0,137.0,3.8,104.0,273.0,3.0,30.0,114.0,1.287
2,3,62164,3.7,37.0,29.0,37.0,23.0,5.0,1.79,9.2,...,4.5,267.7,138.0,4.3,104.0,271.0,2.3,23.0,53.0,0.598
3,4,62165,4.1,41.0,13.0,19.0,94.0,12.0,4.28,9.7,...,5.8,345.0,139.0,4.0,105.0,277.0,2.8,28.0,68.0,0.768
4,5,62169,4.4,44.0,19.0,17.0,51.0,16.0,5.71,9.2,...,5.4,321.2,139.0,4.4,103.0,278.0,2.1,21.0,75.0,0.847

In [28]:
a = df.iloc[0:, 2:]  # slicing only the values without id and seqn

In [42]:
a

,lbxsal,lbdsalsi,lbxsatsi,lbxsassi,lbxsapsi,lbxsbu,lbdsbusi,lbxsca,lbdscasi,lbxsck,...,lbxsua,lbdsuasi,lbxsnasi,lbxsksi,lbxsclsi,lbxsossi,lbxsgb,lbdsgbsi,lbxstr,lbdstrsi
0,4.8,48.0,19.0,25.0,89.0,14.0,5.00,9.6,2.400,108.0,...,4.9,291.5,137.0,3.9,100.0,274.0,2.8,28.0,82.0,0.926
1,4.0,40.0,13.0,19.0,167.0,16.0,5.71,9.1,2.275,147.0,...,5.8,345.0,137.0,3.8,104.0,273.0,3.0,30.0,114.0,1.287
2,3.7,37.0,29.0,37.0,23.0,5.0,1.79,9.2,2.300,494.0,...,4.5,267.7,138.0,4.3,104.0,271.0,2.3,23.0,53.0,0.598
3,4.1,41.0,13.0,19.0,94.0,12.0,4.28,9.7,2.425,135.0,...,5.8,345.0,139.0,4.0,105.0,277.0,2.8,28.0,68.0,0.768
4,4.4,44.0,19.0,17.0,51.0,16.0,5.71,9.2,2.300,80.0,...,5.4,321.2,139.0,4.4,103.0,278.0,2.1,21.0,75.0,0.847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6544,4.8,48.0,20.0,19.0,52.0,15.0,5.36,9.1,2.275,197.0,...,6.2,368.8,138.0,4.2,103.0,276.0,2.9,29.0,125.0,1.411
6545,4.1,41.0,38.0,26.0,92.0,11.0,3.93,10.0,2.500,267.0,...,6.3,374.7,140.0,4.1,107.0,279.0,3.0,30.0,354.0,3.997
6546,4.7,47.0,28.0,29.0,65.0,7.0,2.50,9.1,2.275,85.0,...,4.4,261.7,139.0,3.2,101.0,278.0,3.0,30.0,80.0,0.903
6547,4.2,42.0,22.0,21.0,77.0,11.0,3.93,9.4,2.350,43.0,...,5.2,309.3,141.0,4.1,104.0,280.0,2.1,21.0,237.0,2.676
6548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
a.describe()

,lbxsal,lbdsalsi,lbxsatsi,lbxsassi,lbxsapsi,lbxsbu,lbdsbusi,lbxsca,lbdscasi,lbxsck,...,lbxsua,lbdsuasi,lbxsnasi,lbxsksi,lbxsclsi,lbxsossi,lbxsgb,lbdsgbsi,lbxstr,lbdstrsi
count,5976.000000,5976.000000,5972.000000,5969.000000,5974.000000,5975.000000,5975.000000,5974.000000,5974.000000,5968.000000,...,5974.000000,5974.000000,5974.000000,5973.000000,5974.000000,5974.000000,5967.000000,5967.000000,5969.000000,5969.000000
mean,4.306861,43.068608,23.701105,25.325515,79.868597,12.514979,4.468231,9.418296,2.354574,161.897118,...,5.361667,318.911851,138.980080,3.939260,103.935554,277.533813,2.886559,28.865594,139.687385,1.577073
std,0.343757,3.437569,24.637657,15.955600,52.831267,5.454846,1.947445,0.356370,0.089093,180.982757,...,1.418777,84.388923,2.211889,0.340605,2.825649,4.917955,0.457225,4.572253,121.747718,1.374528
min,2.100000,21.000000,5.000000,7.000000,7.000000,2.000000,0.710000,6.500000,1.625000,15.000000,...,0.400000,23.800000,102.000000,2.300000,70.000000,207.000000,0.700000,7.000000,12.000000,0.135000
25%,4.100000,41.000000,15.000000,19.000000,54.000000,9.000000,3.210000,9.200000,2.300000,77.000000,...,4.300000,255.800000,138.000000,3.700000,102.000000,275.000000,2.600000,26.000000,70.000000,0.790000
50%,4.300000,43.000000,19.000000,23.000000,66.000000,12.000000,4.280000,9.400000,2.350000,114.000000,...,5.200000,309.300000,139.000000,3.900000,104.000000,277.000000,2.800000,28.000000,107.000000,1.208000
75%,4.500000,45.000000,26.000000,27.000000,85.000000,15.000000,5.360000,9.600000,2.400000,182.000000,...,6.200000,368.800000,140.000000,4.100000,106.000000,280.000000,3.100000,31.000000,168.000000,1.897000
max,5.500000,55.000000,1363.000000,597.000000,729.000000,95.000000,33.920000,11.300000,2.825000,3892.000000,...,11.300000,672.100000,153.000000,7.300000,115.000000,315.000000,5.900000,59.000000,3187.000000,35.981000

In [32]:
import random

last_names = [
    "Smith", "Johnson", "Brown", "Jones", "Davis", "Lee", "Wilson", "Harris", "Clark", "Young",
    "Martin", "Thompson", "White", "Anderson", "Walker", "Hall", "Lewis", "Robinson", "Moore", "Taylor",
    "Miller", "Williams", "Wilson", "Harris", "Jackson", "Adams", "Baker", "Carter", "Cooper", "Evans",
    "Garcia", "Hernandez", "King", "Lopez", "Perez", "Phillips", "Scott", "Turner", "Wright", "Green",
    "Davis", "Hall", "Johnson", "Lewis", "Brown", "Martin", "Harris", "Robinson", "Clark", "Moore",
    "Taylor", "White", "Williams", "Anderson", "Lee", "Smith", "Jones", "Young", "Wilson", "Thompson"
]

last_names = [
    "Smith", "Johnson", "Brown", "Jones", "Davis", "Lee", "Wilson", "Harris", "Clark", "Young",
    "Martin", "Thompson", "White", "Anderson", "Walker", "Hall", "Lewis", "Robinson", "Moore", "Taylor",
    "Miller", "Williams", "Wilson", "Harris", "Jackson", "Adams", "Baker", "Carter", "Cooper", "Evans",
    "Garcia", "Hernandez", "King", "Lopez", "Perez", "Phillips", "Scott", "Turner", "Wright", "Green",
    "Davis", "Hall", "Johnson", "Lewis", "Brown", "Martin", "Harris", "Robinson", "Clark", "Moore",
    "Taylor", "White", "Williams", "Anderson", "Lee", "Smith", "Jones", "Young", "Wilson", "Thompson"
]

random_names = []
for _ in range(1000):
    random_name = random.choice(first_names) + " " + random.choice(last_names)
    random_names.append(random_name)

# Print the generated names
for name in random_names:
    print(name)

Lily Johnson
William Wilson
Joshua Anderson
Emma Jackson
David White
Ethan Harris
Anna Davis
Sophia Clark
Ava Turner
Nora Evans
Ethan Clark
Aria Clark
Olivia Miller
Jessica Anderson
Robert Clark
Jennifer Cooper
Elizabeth Wilson
Anna Jones
Richard Williams
Joshua Anderson
Christopher Anderson
Victoria Thompson
Olivia Brown
Christopher Lee
John Williams
Liam Brown
Richard Lee
Michael Williams
Isabella Evans
Daniel Jones
Liam Wilson
Liam Smith
Mark Turner
Chloe Young
Olivia Robinson
Charles Turner
Logan Anderson
Joshua Johnson
Nora Perez
Aiden Thompson
Elizabeth Jackson
Benjamin White
Jackson Johnson
Charlotte Carter
Christopher Harris
Henry White
Liam Davis
Richard Anderson
Thomas Turner
Mary Scott
Richard Phillips
Alexis Carter
Isabella Davis
Matthew Robinson
Jennifer Young
Amelia Lewis
James Anderson
Alexis Hall
Liam Walker
Benjamin Wilson
Amelia Green
Emily Williams
Henry White
Nora Wilson
William Lewis
Elizabeth Young
Sophie Thompson
Sophia Harris
John Evans
Daniel Jones
Mia Robinson
Benjamin Carter
Amelia Clark
Matthew Clark
Alexis Lee
Robert White
Richard Baker
David Robinson
Nathan Smith
Christopher Wright
Robert Thompson
Robert Anderson
Jackson White
Jennifer Baker
James White
Mia Lewis
Emily Wilson
Grace Harris
Isabella Young
Sophia Lee
James Thompson
Nora Robinson
James Taylor
Grace Smith
Nathan Harris
Michael Brown
Oliver Williams
Karen King
Liam White
Ava Lewis
Nathan Wilson
David Miller
Lucy Jones
Mark Hall
Matthew Wilson
Amelia Clark
Liam King
Olivia Moore
Liam Wright
Alexis Taylor
Victoria Wright
Joseph Cooper
Grace Lopez
Sophia Young
Anna Garcia
Olivia Miller
Thomas Scott
Lucy Perez
Aria Smith
Karen Smith
Zoe Young
Grace Anderson
Sophie Lee
Karen Wilson
Charlotte Anderson
Logan Clark
David Lee
Aria Baker
Ella Clark
Robert Johnson
Elizabeth Adams
Mark Clark
Aria Wilson
Elizabeth Green
Chloe White
Logan Anderson
Jessica Lee
Michael Perez
Robert Hernandez
Scarlett Taylor
Benjamin Davis
Amelia Williams
Emma Clark
Zoe White
Oliver Thompson
Madison Wright
James Johnson
Liam King
Richard Turner
Liam Smith
John Williams
Joseph Harris
Nathan Evans
Christopher Taylor
Benjamin Williams
Liam Harris
Christopher Lee
Joshua Garcia
Anna Smith
Lucas Clark
Sophie Hall
Jennifer Young
Lily Lewis
Elizabeth Young
Ava Jones
Charles Miller
Isabella Thompson
David Anderson
Alexis Moore
Elizabeth Wright
Mark Smith
Sarah Anderson
Sophia Clark
William Young
Mia King
Jane Lee
Madison Williams
Logan Robinson
Joseph Young
Sarah Brown
Chloe Phillips
Sophia Garcia
Joshua Walker
Emily White
Olivia Wilson
Nathan Green
Jessica Taylor
Ella Lewis
Robert Wright
Andrew Brown
Emily Davis
Scarlett Lee
Ella Harris
Daniel Davis
David Cooper
Ella Moore
Sophia Williams
Matthew Clark
Daniel Lee
Joshua Moore
Sophia Carter
Karen Wilson
Henry Harris
Olivia Martin
Aria Lewis
Christopher Brown
Aria Robinson
Scarlett Smith
Lucas Clark
Christopher Taylor
Madison Brown
Karen Young
Elizabeth Perez
Amelia Jackson
Lucas Scott
Isabella Thompson
Grace Anderson
James Williams
Joshua Phillips
Matthew Jackson
Victoria Lee
Joseph Harris
Grace Baker
Victoria Green
Daniel Wilson
Lucy Perez
James Martin
Robert Harris
Andrew Lee
Scarlett Hall
Grace Turner
Sophia Scott
Michael Robinson
Sophia Wilson
Lily Scott
Sophia Johnson
Ava White
Nora Walker
Chloe Smith
Matthew Williams
Michael Baker
Jennifer Williams
Jessica Williams
Charles Martin
Oliver Martin
Liam Turner
Christopher Davis
Anna Martin
Logan Thompson
Alexis Adams
Emily Baker
Charlotte Smith
Zoe Harris
Henry Green
Emma Jones
Grace Hall
Richard Smith
Lucas Williams
Nora Young
Liam Harris
Zoe Lopez
Sophia Hall
William Harris
David Hernandez
Charlotte Davis
Ethan Young
Scarlett Martin
Lucy Lee
John Brown
Mia Wilson
Liam Lee
Lucy Evans
Michael Harris
Sophie Lopez
Sarah Jones
Madison White
Elizabeth Clark
Andrew King
Elizabeth Walker
James Robinson
Nora Lopez
Jane Thompson
Sophie Lee
David Green
Amelia Jackson
Matthew Davis
Charlotte Johnson
James Thompson
Lucy Lee
Jackson Wright
Christopher Hernandez
Emma Harris
Karen Lee
Ella White
Grace Scott
Madison Thompson
Henry Perez
Benjamin Baker
Madison King
Aiden Adams
Matthew Hall
Richard Wilson
Chloe Evans
Mark Moore
Charlotte Anderson
Charlotte Harris
Daniel Garcia
Jane Baker
Jessica Lee
Michael Davis
Lily Jackson
Christopher King
Thomas Taylor
Grace Baker
Ella Williams
Aria Clark
Emma Lee
Liam Thompson
Michael Martin
John White
Richard Garcia
Alexis Lewis
Madison Smith
Sarah Perez
Sarah Lopez
Jackson Thompson
Jessica Anderson
Matthew Young
Daniel Smith
Grace Wright
Alexis Robinson
Jennifer Wilson
Thomas Walker
Matthew Evans
James Jackson
John Jackson
Zoe Clark
Charles Harris
Sophia Wilson
Lucy Harris
Mia Moore
Ava Martin
Sophia Scott
Jennifer Walker
Oliver Harris
Elizabeth Lee
Elizabeth Brown
Jane Wilson
Lucy Clark
Grace Smith
Joseph Jackson
Grace Hall
Charles Wilson
Anna Williams
Grace Lee
Michael Lewis
Alexis Hernandez
Mark Lopez
Matthew Martin
Jackson Baker
James Wilson
Jessica Green
Alexis Williams
Karen Wilson
Isabella Wilson
Liam Hall
Mia Taylor
Scarlett Jones
Logan Miller
Nora Baker
Sarah Wright
David Hall
Jane White
Aiden Jackson
Liam Baker
Mary Johnson
Grace Garcia
Lucas Young
Aiden Phillips
David Walker
Joshua Hall
Oliver Smith
Mary Davis
Anna White
Sarah Carter
Anna Lee
Oliver Johnson
Sophie White
Thomas Jones
Anna Thompson
Aria Hall
Karen Carter
Sophia Lee
Matthew Brown
Charlotte Williams
Richard Williams
Liam Scott
Emily Robinson
Jane Johnson
Emily Clark
Amelia Jones
Sophia Moore
Daniel Adams
David Moore
Zoe Clark
Richard Clark
Robert Jones
Daniel Clark
Andrew Martin
Madison Smith
Victoria Anderson
Ava Williams
Matthew Thompson
Ella Hall
David Cooper
Sophia Davis
Lily Wilson
Daniel Clark
Karen Lopez
Jennifer Clark
Lucy Taylor
Michael Lee
Richard Brown
Thomas Turner
Ethan Garcia
Sarah Miller
Mary White
Oliver Smith
William Anderson
Karen Taylor
Liam Anderson
Joseph Cooper
David White
Anna Lewis
Lucy Lopez
John Robinson
Charlotte Taylor
Sophia Scott
Emily Hall
Grace Lopez
Jane Garcia
William King
Elizabeth Williams
Logan Johnson
Aiden Jackson
Charlotte Young
James Clark
David Taylor
Grace Evans
Lucy Hall
Liam Brown
Alexis Hernandez
Sophia Wilson
Emily Moore
Liam Smith
Sarah Davis
Matthew Green
Aiden Jones
Ava Williams
Daniel Johnson
Lucy Perez
David Garcia
Henry Martin
Ava Harris
Madison Robinson
Ethan Smith
Daniel Anderson
Victoria White
Christopher Lopez
Jane White
Amelia Johnson
Zoe Taylor
Nora Lee
Mia Brown
Joseph Cooper
Mary Baker
Scarlett Thompson
Jessica Johnson
Isabella Thompson
Daniel Baker
Mark Baker
Lucy Adams
Joshua Lopez
Andrew Thompson
Joseph Moore
Lucas Hernandez
David Miller
William Adams
Richard Williams
Liam Clark
Madison Clark
Thomas Young
Ava Garcia
Oliver White
Ella Smith
Robert Jackson
Richard Anderson
Isabella Clark
Olivia Hernandez
Lucas Taylor
Matthew Moore
Chloe Baker
Robert Jones
Joseph Jones
Liam Brown
Grace Turner
Logan Jones
Liam Cooper
Andrew Wilson
Ava Davis
Emma Anderson
Joseph Wilson
Nathan Wilson
Ella Moore
Richard Baker
Jane Jones
Sophie Anderson
Olivia Davis
Grace Hall
Elizabeth Hernandez
Lucas Anderson
Nathan Young
Mia Garcia
Ava Garcia
Grace Turner
Lucas Taylor
David Johnson
Grace Lee
Alexis Young
Jane Clark
Thomas Scott
Grace Young
Joseph Jackson
Grace Garcia
Mark Jackson
Grace King
James Baker
Joseph Wilson
Victoria Brown
Richard Garcia
Sophia White
Jessica Brown
Matthew Robinson
Emily Lee
Sophie Garcia
Karen Miller
Emma Jones
Sophia Moore
Richard Young
David Harris
John Phillips
Elizabeth Hall
Robert Wilson
Amelia Anderson
John Baker
Mary Harris
Daniel Turner
Mark Harris
Lucas Perez
Jennifer Jackson
Victoria Lopez
Logan Hall
Mary Johnson
Ava Hall
Ava Jones
Liam Garcia
John Wilson
Mia Smith
Victoria Wilson
Christopher Jackson
Elizabeth Turner
Liam Clark
Grace Brown
Lucas Harris
Jackson Adams
Logan Moore
Sophia Phillips
Scarlett Taylor
Sophia Smith
Ella Baker
Nora Johnson
Isabella Lewis
Richard Williams
Emily White
Thomas White
Sophia King
Mary Anderson
Henry Adams
Daniel Young
Anna Davis
Madison Young
Emily Thompson
Henry King
Benjamin Wright
Matthew Williams
Charles Wilson
Jennifer Harris
Ava Anderson
Robert Moore
Sophia Anderson
Liam Williams
Emma Green
John Clark
Lily Anderson
Jennifer Martin
Daniel Wright
Benjamin Wilson
Mark Walker
Daniel Clark
Lucas Wilson
Amelia Johnson
Thomas Brown
Grace Young
Jessica White
Ethan Lewis
Jessica Clark
Elizabeth Smith
Logan Brown
Matthew Adams
Emily Wilson
Thomas Anderson
Ella Johnson
Alexis Hall
Matthew Brown
Robert Garcia
Mary Williams
Nathan Robinson
Mark Moore
Emily Walker
Joseph Wright
Daniel Harris
Oliver Hall
Lucy Moore
Grace Lewis
Scarlett Smith
Charlotte Lee
Daniel Johnson
Jennifer Hernandez
Oliver Garcia
Anna Scott
Lucy Harris
Lucy Brown
Jackson Martin
Madison Davis
Sophia Martin
John Hall
Anna Davis
Chloe Harris
Joseph Anderson
Zoe Hall
Lucy Walker
Sophia Phillips
Ella Young
Sophia Clark
Jane Smith
Aiden White
Daniel Davis
Isabella Green
Lucas Thompson
Michael Green
Robert Anderson
Ella Johnson
Lucas Garcia
Lucy Lewis
Anna Brown
Lily Robinson
Victoria Carter
Ava King
Jackson Moore
Robert Williams
Jane King
James Garcia
Andrew Wilson
Olivia King
Oliver Miller
Benjamin Wilson
Alexis Young
Andrew Harris
Andrew Johnson
Mark Adams
Sophia Smith
Sarah Perez
Joseph Baker
Andrew Scott
Charles Davis
Lucas Hernandez
Aria Lee
Nathan Young
Scarlett Wilson
Madison Davis
Amelia Harris
Michael Martin
Karen Jones
Daniel Phillips
Joseph Moore
Sophie Carter
Lucy Scott
Lily Robinson
Sophie Robinson
Lucy Jones
Grace Davis
Emma White
Amelia Hall
Charlotte Wilson
Emily Young
Mark Evans
Andrew Smith
Richard Williams
Grace Perez
Lily Young
James Baker
Logan Evans
Matthew Thompson
Robert Hernandez
Zoe Phillips
Matthew Young
Elizabeth White
Jackson Martin
Charles Brown
Michael Taylor
Amelia Jones
Zoe Harris
Daniel Phillips
Aiden Jones
Ella Harris
Victoria Davis
Joseph White
Sophia Young
Jane Davis
Amelia Johnson
John Moore
Emily Hall
Jennifer Brown
Liam White
Jane Phillips
Grace Brown
Jessica Anderson
Chloe Harris
Chloe Adams
Anna Thompson
Richard Wilson
Lily Wilson
David Johnson
Sophia Thompson
Aiden Brown
Emily Robinson
Isabella Hall
Grace Anderson
Karen Williams
Amelia Moore
Logan Walker
Thomas Jones
Thomas Young
Elizabeth Brown
Aiden Robinson
Lily Williams
Grace Wright
Christopher Adams
Christopher Carter
James Carter
Lucy Johnson
Ella Walker
Grace Hernandez
Amelia Perez
Sarah Garcia
Oliver Moore
Sophia Wilson
Karen Evans
Richard Lee
Amelia Thompson
Jennifer Harris
Benjamin Williams
Ethan Taylor
James Scott
Isabella Wright
Isabella Harris
Robert Harris
Jessica Smith
Jessica Anderson
Grace White
Daniel White
Jackson Moore
Scarlett Anderson
Joshua White
Amelia Smith
David Adams
Charlotte Evans
Emily White
Ethan White
Aiden Anderson
David Scott
Ethan Davis
Amelia White
Jennifer Thompson
Charlotte Johnson
Victoria Cooper
Amelia Wilson
Oliver Jones
Charles Jones
Michael Lewis
Michael Lewis
Mia Adams
William Brown
Sophia Hall
William Johnson
David Walker
Sophie Hall
Grace Davis
Sarah Smith
Amelia King
Joshua Perez
Madison Wright
Andrew Lewis
William Johnson
Andrew Harris
Emma Garcia
Liam Garcia
John Anderson
Ava Robinson
Sophia Smith
Elizabeth Harris
Andrew Lee
Liam Hernandez
Jessica Wright
Lily Baker
Chloe Lewis
Zoe Adams
Matthew Perez
Charlotte Scott
David King
Madison Brown
Aiden Cooper
Thomas Young
Isabella Lewis
Benjamin Harris
Jackson Young
Oliver Evans
Joseph Thompson
Daniel Wilson
Amelia Hall
Joshua Lewis
Christopher Hall
Sophia Clark
Mark Hernandez
Isabella Young
Amelia White
Liam Carter
Michael Hall
Aria Wilson
Ethan White
John Adams
Liam Garcia
John Clark
Ava Moore
Nathan Lewis
Aiden Garcia
Sophie Hall
Logan Clark
Jessica Smith
Joshua Young
Emily Hall
Emma Cooper
Lucy Davis
David Lopez
William Martin
Liam Thompson
Anna Young
Mark Lee
Chloe Perez
Henry Clark
Andrew Perez
Lucas Baker
Sophie Williams
Benjamin Wilson
Olivia Miller
Jackson Johnson
David Turner
Logan Harris
Grace Phillips
Jackson Hall
Matthew Jackson
Ava Wright
Michael Evans
William King
Liam Turner
Karen White
Olivia Lewis
Amelia Walker
Aiden Lewis
Lucas Harris
Scarlett Thompson
Alexis Wilson
Logan Cooper
Lucas Hernandez
Charlotte Lee
Lucas Anderson
Mary Perez
Mary Johnson
William Hernandez
Liam Young
Mia Wilson
Benjamin Thompson
David Thompson
Richard Taylor
Nora Lewis
Ella Clark
Joseph Wright
Lily Perez
Henry Harris
Grace Carter
Liam Lee
Mark Hernandez
Isabella Wright
Zoe Davis
Sophia Hall
Matthew Thompson
Chloe Williams
Logan Lewis
John Scott
Madison Robinson
Scarlett Lopez
Christopher Hernandez
Henry Hernandez
Aiden Wilson
Chloe Anderson
Emma Smith
Sarah Harris
Elizabeth Brown
Elizabeth Wilson
William Thompson
Liam Lewis
Thomas White
Michael Wilson
Anna Thompson
Lily Garcia
Elizabeth Lewis
Ava Hall
Ella Robinson
Jackson White
Madison Moore
Joshua Harris
Andrew Thompson
Olivia Wilson
Lucy Moore
Olivia Walker
John Young
Emily Martin
Olivia Smith
Jennifer Garcia
Richard Cooper
Logan Perez
Benjamin Wright
Aria Green
Nathan Lee
Victoria Wilson
Michael Miller
Sophia Garcia
Aria Harris
Mia Cooper
Charles Lewis
Elizabeth Clark
Jackson Davis
Chloe Lee
Charles Moore
Amelia Jackson
Andrew Anderson
James Baker
Charlotte Taylor
Emma Lewis
Michael Anderson
John Adams
Aiden Lewis
Jane Adams
Aiden Wright
Liam Hall
Anna Wilson
Anna Phillips
Elizabeth Carter
Aiden Robinson
Thomas Anderson
Lily Johnson
Amelia Williams
Ella Martin
Sophia Garcia
Mark Moore
Liam Harris
Nora Young
Olivia Baker
Christopher Robinson
Chloe Hall
Joseph Harris
Zoe Martin
Robert Carter
Ella Carter
Karen Harris
Sophie Williams
Charlotte Cooper
Joshua Anderson
Charles Williams
Mia Moore

In [33]:
random_names

['Lily Johnson',
 'William Wilson',
 'Joshua Anderson',
 'Emma Jackson',
 'David White',
 'Ethan Harris',
 'Anna Davis',
 'Sophia Clark',
 'Ava Turner',
 'Nora Evans',
 'Ethan Clark',
 'Aria Clark',
 'Olivia Miller',
 'Jessica Anderson',
 'Robert Clark',
 'Jennifer Cooper',
 'Elizabeth Wilson',
 'Anna Jones',
 'Richard Williams',
 'Joshua Anderson',
 'Christopher Anderson',
 'Victoria Thompson',
 'Olivia Brown',
 'Christopher Lee',
 'John Williams',
 'Liam Brown',
 'Richard Lee',
 'Michael Williams',
 'Isabella Evans',
 'Daniel Jones',
 'Liam Wilson',
 'Liam Smith',
 'Mark Turner',
 'Chloe Young',
 'Olivia Robinson',
 'Charles Turner',
 'Logan Anderson',
 'Joshua Johnson',
 'Nora Perez',
 'Aiden Thompson',
 'Elizabeth Jackson',
 'Benjamin White',
 'Jackson Johnson',
 'Charlotte Carter',
 'Christopher Harris',
 'Henry White',
 'Liam Davis',
 'Richard Anderson',
 'Thomas Turner',
 'Mary Scott',
 'Richard Phillips',
 'Alexis Carter',
 'Isabella Davis',
 'Matthew Robinson',
 'Jennifer Young',
 'Amelia Lewis',
 'James Anderson',
 'Alexis Hall',
 'Liam Walker',
 'Benjamin Wilson',
 'Amelia Green',
 'Emily Williams',
 'Henry White',
 'Nora Wilson',
 'William Lewis',
 'Elizabeth Young',
 'Sophie Thompson',
 'Sophia Harris',
 'John Evans',
 'Daniel Jones',
 'Mia Robinson',
 'Benjamin Carter',
 'Amelia Clark',
 'Matthew Clark',
 'Alexis Lee',
 'Robert White',
 'Richard Baker',
 'David Robinson',
 'Nathan Smith',
 'Christopher Wright',
 'Robert Thompson',
 'Robert Anderson',
 'Jackson White',
 'Jennifer Baker',
 'James White',
 'Mia Lewis',
 'Emily Wilson',
 'Grace Harris',
 'Isabella Young',
 'Sophia Lee',
 'James Thompson',
 'Nora Robinson',
 'James Taylor',
 'Grace Smith',
 'Nathan Harris',
 'Michael Brown',
 'Oliver Williams',
 'Karen King',
 'Liam White',
 'Ava Lewis',
 'Nathan Wilson',
 'David Miller',
 'Lucy Jones',
 'Mark Hall',
 'Matthew Wilson',
 'Amelia Clark',
 'Liam King',
 'Olivia Moore',
 'Liam Wright',
 'Alexis Taylor',
 'Victoria Wright',
 'Joseph Cooper',
 'Grace Lopez',
 'Sophia Young',
 'Anna Garcia',
 'Olivia Miller',
 'Thomas Scott',
 'Lucy Perez',
 'Aria Smith',
 'Karen Smith',
 'Zoe Young',
 'Grace Anderson',
 'Sophie Lee',
 'Karen Wilson',
 'Charlotte Anderson',
 'Logan Clark',
 'David Lee',
 'Aria Baker',
 'Ella Clark',
 'Robert Johnson',
 'Elizabeth Adams',
 'Mark Clark',
 'Aria Wilson',
 'Elizabeth Green',
 'Chloe White',
 'Logan Anderson',
 'Jessica Lee',
 'Michael Perez',
 'Robert Hernandez',
 'Scarlett Taylor',
 'Benjamin Davis',
 'Amelia Williams',
 'Emma Clark',
 'Zoe White',
 'Oliver Thompson',
 'Madison Wright',
 'James Johnson',
 'Liam King',
 'Richard Turner',
 'Liam Smith',
 'John Williams',
 'Joseph Harris',
 'Nathan Evans',
 'Christopher Taylor',
 'Benjamin Williams',
 'Liam Harris',
 'Christopher Lee',
 'Joshua Garcia',
 'Anna Smith',
 'Lucas Clark',
 'Sophie Hall',
 'Jennifer Young',
 'Lily Lewis',
 'Elizabeth Young',
 'Ava Jones',
 'Charles Miller',
 'Isabella Thompson',
 'David Anderson',
 'Alexis Moore',
 'Elizabeth Wright',
 'Mark Smith',
 'Sarah Anderson',
 'Sophia Clark',
 'William Young',
 'Mia King',
 'Jane Lee',
 'Madison Williams',
 'Logan Robinson',
 'Joseph Young',
 'Sarah Brown',
 'Chloe Phillips',
 'Sophia Garcia',
 'Joshua Walker',
 'Emily White',
 'Olivia Wilson',
 'Nathan Green',
 'Jessica Taylor',
 'Ella Lewis',
 'Robert Wright',
 'Andrew Brown',
 'Emily Davis',
 'Scarlett Lee',
 'Ella Harris',
 'Daniel Davis',
 'David Cooper',
 'Ella Moore',
 'Sophia Williams',
 'Matthew Clark',
 'Daniel Lee',
 'Joshua Moore',
 'Sophia Carter',
 'Karen Wilson',
 'Henry Harris',
 'Olivia Martin',
 'Aria Lewis',
 'Christopher Brown',
 'Aria Robinson',
 'Scarlett Smith',
 'Lucas Clark',
 'Christopher Taylor',
 'Madison Brown',
 'Karen Young',
 'Elizabeth Perez',
 'Amelia Jackson',
 'Lucas Scott',
 'Isabella Thompson',
 'Grace Anderson',
 'James Williams',
 'Joshua Phillips',
 'Matthew Jackson',
 'Victoria Lee',
 'Joseph Harris',
 'Grace Baker',
 'Victoria Green',
 'Daniel Wilson',
 'Lucy Perez',
 'James Martin',
 'Robert Harris',
 'Andrew Lee',
 'Scarlett Hall',
 'Grace Turner',
 'Sophia Scott',
 'Michael Robinson',
 'Sophia Wilson',
 'Lily Scott',
 'Sophia Johnson',
 'Ava White',
 'Nora Walker',
 'Chloe Smith',
 'Matthew Williams',
 'Michael Baker',
 'Jennifer Williams',
 'Jessica Williams',
 'Charles Martin',
 'Oliver Martin',
 'Liam Turner',
 'Christopher Davis',
 'Anna Martin',
 'Logan Thompson',
 'Alexis Adams',
 'Emily Baker',
 'Charlotte Smith',
 'Zoe Harris',
 'Henry Green',
 'Emma Jones',
 'Grace Hall',
 'Richard Smith',
 'Lucas Williams',
 'Nora Young',
 'Liam Harris',
 'Zoe Lopez',
 'Sophia Hall',
 'William Harris',
 'David Hernandez',
 'Charlotte Davis',
 'Ethan Young',
 'Scarlett Martin',
 'Lucy Lee',
 'John Brown',
 'Mia Wilson',
 'Liam Lee',
 'Lucy Evans',
 'Michael Harris',
 'Sophie Lopez',
 'Sarah Jones',
 'Madison White',
 'Elizabeth Clark',
 'Andrew King',
 'Elizabeth Walker',
 'James Robinson',
 'Nora Lopez',
 'Jane Thompson',
 'Sophie Lee',
 'David Green',
 'Amelia Jackson',
 'Matthew Davis',
 'Charlotte Johnson',
 'James Thompson',
 'Lucy Lee',
 'Jackson Wright',
 'Christopher Hernandez',
 'Emma Harris',
 'Karen Lee',
 'Ella White',
 'Grace Scott',
 'Madison Thompson',
 'Henry Perez',
 'Benjamin Baker',
 'Madison King',
 'Aiden Adams',
 'Matthew Hall',
 'Richard Wilson',
 'Chloe Evans',
 'Mark Moore',
 'Charlotte Anderson',
 'Charlotte Harris',
 'Daniel Garcia',
 'Jane Baker',
 'Jessica Lee',
 'Michael Davis',
 'Lily Jackson',
 'Christopher King',
 'Thomas Taylor',
 'Grace Baker',
 'Ella Williams',
 'Aria Clark',
 'Emma Lee',
 'Liam Thompson',
 'Michael Martin',
 'John White',
 'Richard Garcia',
 'Alexis Lewis',
 'Madison Smith',
 'Sarah Perez',
 'Sarah Lopez',
 'Jackson Thompson',
 'Jessica Anderson',
 'Matthew Young',
 'Daniel Smith',
 'Grace Wright',
 'Alexis Robinson',
 'Jennifer Wilson',
 'Thomas Walker',
 'Matthew Evans',
 'James Jackson',
 'John Jackson',
 'Zoe Clark',
 'Charles Harris',
 'Sophia Wilson',
 'Lucy Harris',
 'Mia Moore',
 'Ava Martin',
 'Sophia Scott',
 'Jennifer Walker',
 'Oliver Harris',
 'Elizabeth Lee',
 'Elizabeth Brown',
 'Jane Wilson',
 'Lucy Clark',
 'Grace Smith',
 'Joseph Jackson',
 'Grace Hall',
 'Charles Wilson',
 'Anna Williams',
 'Grace Lee',
 'Michael Lewis',
 'Alexis Hernandez',
 'Mark Lopez',
 'Matthew Martin',
 'Jackson Baker',
 'James Wilson',
 'Jessica Green',
 'Alexis Williams',
 'Karen Wilson',
 'Isabella Wilson',
 'Liam Hall',
 'Mia Taylor',
 'Scarlett Jones',
 'Logan Miller',
 'Nora Baker',
 'Sarah Wright',
 'David Hall',
 'Jane White',
 'Aiden Jackson',
 'Liam Baker',
 'Mary Johnson',
 'Grace Garcia',
 'Lucas Young',
 'Aiden Phillips',
 'David Walker',
 'Joshua Hall',
 'Oliver Smith',
 'Mary Davis',
 'Anna White',
 'Sarah Carter',
 'Anna Lee',
 'Oliver Johnson',
 'Sophie White',
 'Thomas Jones',
 'Anna Thompson',
 'Aria Hall',
 'Karen Carter',
 'Sophia Lee',
 'Matthew Brown',
 'Charlotte Williams',
 'Richard Williams',
 'Liam Scott',
 'Emily Robinson',
 'Jane Johnson',
 'Emily Clark',
 'Amelia Jones',
 'Sophia Moore',
 'Daniel Adams',
 'David Moore',
 'Zoe Clark',
 'Richard Clark',
 'Robert Jones',
 'Daniel Clark',
 'Andrew Martin',
 'Madison Smith',
 'Victoria Anderson',
 'Ava Williams',
 'Matthew Thompson',
 'Ella Hall',
 'David Cooper',
 'Sophia Davis',
 'Lily Wilson',
 'Daniel Clark',
 'Karen Lopez',
 'Jennifer Clark',
 'Lucy Taylor',
 'Michael Lee',
 'Richard Brown',
 'Thomas Turner',
 'Ethan Garcia',
 'Sarah Miller',
 'Mary White',
 'Oliver Smith',
 'William Anderson',
 'Karen Taylor',
 'Liam Anderson',
 'Joseph Cooper',
 'David White',
 'Anna Lewis',
 'Lucy Lopez',
 'John Robinson',
 'Charlotte Taylor',
 'Sophia Scott',
 'Emily Hall',
 'Grace Lopez',
 'Jane Garcia',
 'William King',
 'Elizabeth Williams',
 'Logan Johnson',
 'Aiden Jackson',
 'Charlotte Young',
 'James Clark',
 'David Taylor',
 'Grace Evans',
 'Lucy Hall',
 'Liam Brown',
 'Alexis Hernandez',
 'Sophia Wilson',
 'Emily Moore',
 'Liam Smith',
 'Sarah Davis',
 'Matthew Green',
 'Aiden Jones',
 'Ava Williams',
 'Daniel Johnson',
 'Lucy Perez',
 'David Garcia',
 'Henry Martin',
 'Ava Harris',
 'Madison Robinson',
 'Ethan Smith',
 'Daniel Anderson',
 'Victoria White',
 'Christopher Lopez',
 'Jane White',
 'Amelia Johnson',
 'Zoe Taylor',
 'Nora Lee',
 'Mia Brown',
 'Joseph Cooper',
 'Mary Baker',
 'Scarlett Thompson',
 'Jessica Johnson',
 'Isabella Thompson',
 'Daniel Baker',
 'Mark Baker',
 'Lucy Adams',
 'Joshua Lopez',
 'Andrew Thompson',
 'Joseph Moore',
 'Lucas Hernandez',
 'David Miller',
 'William Adams',
 'Richard Williams',
 'Liam Clark',
 'Madison Clark',
 'Thomas Young',
 'Ava Garcia',
 'Oliver White',
 'Ella Smith',
 'Robert Jackson',
 'Richard Anderson',
 'Isabella Clark',
 'Olivia Hernandez',
 'Lucas Taylor',
 'Matthew Moore',
 'Chloe Baker',
 'Robert Jones',
 'Joseph Jones',
 'Liam Brown',
 'Grace Turner',
 'Logan Jones',
 'Liam Cooper',
 'Andrew Wilson',
 'Ava Davis',
 'Emma Anderson',
 'Joseph Wilson',
 'Nathan Wilson',
 'Ella Moore',
 'Richard Baker',
 'Jane Jones',
 'Sophie Anderson',
 'Olivia Davis',
 'Grace Hall',
 'Elizabeth Hernandez',
 'Lucas Anderson',
 'Nathan Young',
 'Mia Garcia',
 'Ava Garcia',
 'Grace Turner',
 'Lucas Taylor',
 'David Johnson',
 'Grace Lee',
 'Alexis Young',
 'Jane Clark',
 'Thomas Scott',
 'Grace Young',
 'Joseph Jackson',
 'Grace Garcia',
 'Mark Jackson',
 'Grace King',
 'James Baker',
 'Joseph Wilson',
 'Victoria Brown',
 'Richard Garcia',
 'Sophia White',
 'Jessica Brown',
 'Matthew Robinson',
 'Emily Lee',
 'Sophie Garcia',
 'Karen Miller',
 'Emma Jones',
 'Sophia Moore',
 'Richard Young',
 'David Harris',
 'John Phillips',
 'Elizabeth Hall',
 'Robert Wilson',
 'Amelia Anderson',
 'John Baker',
 'Mary Harris',
 'Daniel Turner',
 'Mark Harris',
 'Lucas Perez',
 'Jennifer Jackson',
 'Victoria Lopez',
 'Logan Hall',
 'Mary Johnson',
 'Ava Hall',
 'Ava Jones',
 'Liam Garcia',
 'John Wilson',
 'Mia Smith',
 'Victoria Wilson',
 'Christopher Jackson',
 'Elizabeth Turner',
 'Liam Clark',
 'Grace Brown',
 'Lucas Harris',
 'Jackson Adams',
 'Logan Moore',
 'Sophia Phillips',
 'Scarlett Taylor',
 'Sophia Smith',
 'Ella Baker',
 'Nora Johnson',
 'Isabella Lewis',
 'Richard Williams',
 'Emily White',
 'Thomas White',
 'Sophia King',
 'Mary Anderson',
 'Henry Adams',
 'Daniel Young',
 'Anna Davis',
 'Madison Young',
 'Emily Thompson',
 'Henry King',
 'Benjamin Wright',
 'Matthew Williams',
 'Charles Wilson',
 'Jennifer Harris',
 'Ava Anderson',
 'Robert Moore',
 'Sophia Anderson',
 'Liam Williams',
 'Emma Green',
 'John Clark',
 'Lily Anderson',
 'Jennifer Martin',
 'Daniel Wright',
 'Benjamin Wilson',
 'Mark Walker',
 'Daniel Clark',
 'Lucas Wilson',
 'Amelia Johnson',
 'Thomas Brown',
 'Grace Young',
 'Jessica White',
 'Ethan Lewis',
 'Jessica Clark',
 'Elizabeth Smith',
 'Logan Brown',
 'Matthew Adams',
 'Emily Wilson',
 'Thomas Anderson',
 'Ella Johnson',
 'Alexis Hall',
 'Matthew Brown',
 'Robert Garcia',
 'Mary Williams',
 'Nathan Robinson',
 'Mark Moore',
 'Emily Walker',
 'Joseph Wright',
 'Daniel Harris',
 'Oliver Hall',
 'Lucy Moore',
 'Grace Lewis',
 'Scarlett Smith',
 'Charlotte Lee',
 'Daniel Johnson',
 'Jennifer Hernandez',
 'Oliver Garcia',
 'Anna Scott',
 'Lucy Harris',
 'Lucy Brown',
 'Jackson Martin',
 'Madison Davis',
 'Sophia Martin',
 'John Hall',
 'Anna Davis',
 'Chloe Harris',
 'Joseph Anderson',
 'Zoe Hall',
 'Lucy Walker',
 'Sophia Phillips',
 'Ella Young',
 'Sophia Clark',
 'Jane Smith',
 'Aiden White',
 'Daniel Davis',
 'Isabella Green',
 'Lucas Thompson',
 'Michael Green',
 'Robert Anderson',
 'Ella Johnson',
 'Lucas Garcia',
 'Lucy Lewis',
 'Anna Brown',
 'Lily Robinson',
 'Victoria Carter',
 'Ava King',
 'Jackson Moore',
 'Robert Williams',
 'Jane King',
 'James Garcia',
 'Andrew Wilson',
 'Olivia King',
 'Oliver Miller',
 'Benjamin Wilson',
 'Alexis Young',
 'Andrew Harris',
 'Andrew Johnson',
 'Mark Adams',
 'Sophia Smith',
 'Sarah Perez',
 'Joseph Baker',
 'Andrew Scott',
 'Charles Davis',
 'Lucas Hernandez',
 'Aria Lee',
 'Nathan Young',
 'Scarlett Wilson',
 'Madison Davis',
 'Amelia Harris',
 'Michael Martin',
 'Karen Jones',
 'Daniel Phillips',
 'Joseph Moore',
 'Sophie Carter',
 'Lucy Scott',
 'Lily Robinson',
 'Sophie Robinson',
 'Lucy Jones',
 'Grace Davis',
 'Emma White',
 'Amelia Hall',
 'Charlotte Wilson',
 'Emily Young',
 'Mark Evans',
 'Andrew Smith',
 'Richard Williams',
 'Grace Perez',
 'Lily Young',
 'James Baker',
 'Logan Evans',
 'Matthew Thompson',
 'Robert Hernandez',
 'Zoe Phillips',
 'Matthew Young',
 'Elizabeth White',
 'Jackson Martin',
 'Charles Brown',
 'Michael Taylor',
 'Amelia Jones',
 'Zoe Harris',
 'Daniel Phillips',
 'Aiden Jones',
 'Ella Harris',
 'Victoria Davis',
 'Joseph White',
 'Sophia Young',
 'Jane Davis',
 'Amelia Johnson',
 'John Moore',
 'Emily Hall',
 'Jennifer Brown',
 'Liam White',
 'Jane Phillips',
 'Grace Brown',
 'Jessica Anderson',
 'Chloe Harris',
 'Chloe Adams',
 'Anna Thompson',
 'Richard Wilson',
 'Lily Wilson',
 'David Johnson',
 'Sophia Thompson',
 'Aiden Brown',
 'Emily Robinson',
 'Isabella Hall',
 'Grace Anderson',
 'Karen Williams',
 'Amelia Moore',
 'Logan Walker',
 'Thomas Jones',
 'Thomas Young',
 'Elizabeth Brown',
 'Aiden Robinson',
 'Lily Williams',
 'Grace Wright',
 'Christopher Adams',
 'Christopher Carter',
 'James Carter',
 'Lucy Johnson',
 'Ella Walker',
 'Grace Hernandez',
 'Amelia Perez',
 'Sarah Garcia',
 'Oliver Moore',
 'Sophia Wilson',
 'Karen Evans',
 'Richard Lee',
 'Amelia Thompson',
 'Jennifer Harris',
 'Benjamin Williams',
 'Ethan Taylor',
 'James Scott',
 'Isabella Wright',
 'Isabella Harris',
 'Robert Harris',
 'Jessica Smith',
 'Jessica Anderson',
 'Grace White',
 'Daniel White',
 'Jackson Moore',
 'Scarlett Anderson',
 'Joshua White',
 'Amelia Smith',
 'David Adams',
 'Charlotte Evans',
 'Emily White',
 'Ethan White',
 'Aiden Anderson',
 'David Scott',
 'Ethan Davis',
 'Amelia White',
 'Jennifer Thompson',
 'Charlotte Johnson',
 'Victoria Cooper',
 'Amelia Wilson',
 'Oliver Jones',
 'Charles Jones',
 'Michael Lewis',
 'Michael Lewis',
 'Mia Adams',
 'William Brown',
 'Sophia Hall',
 'William Johnson',
 'David Walker',
 'Sophie Hall',
 'Grace Davis',
 'Sarah Smith',
 'Amelia King',
 'Joshua Perez',
 'Madison Wright',
 'Andrew Lewis',
 'William Johnson',
 'Andrew Harris',
 'Emma Garcia',
 'Liam Garcia',
 'John Anderson',
 'Ava Robinson',
 'Sophia Smith',
 'Elizabeth Harris',
 'Andrew Lee',
 'Liam Hernandez',
 'Jessica Wright',
 'Lily Baker',
 'Chloe Lewis',
 'Zoe Adams',
 'Matthew Perez',
 'Charlotte Scott',
 'David King',
 'Madison Brown',
 'Aiden Cooper',
 'Thomas Young',
 'Isabella Lewis',
 'Benjamin Harris',
 'Jackson Young',
 'Oliver Evans',
 'Joseph Thompson',
 'Daniel Wilson',
 'Amelia Hall',
 'Joshua Lewis',
 'Christopher Hall',
 'Sophia Clark',
 'Mark Hernandez',
 'Isabella Young',
 'Amelia White',
 'Liam Carter',
 'Michael Hall',
 'Aria Wilson',
 'Ethan White',
 'John Adams',
 'Liam Garcia',
 'John Clark',
 'Ava Moore',
 'Nathan Lewis',
 'Aiden Garcia',
 'Sophie Hall',
 'Logan Clark',
 'Jessica Smith',
 'Joshua Young',
 'Emily Hall',
 'Emma Cooper',
 'Lucy Davis',
 'David Lopez',
 'William Martin',
 'Liam Thompson',
 'Anna Young',
 'Mark Lee',
 'Chloe Perez',
 'Henry Clark',
 'Andrew Perez',
 'Lucas Baker',
 'Sophie Williams',
 'Benjamin Wilson',
 'Olivia Miller',
 'Jackson Johnson',
 'David Turner',
 'Logan Harris',
 'Grace Phillips',
 'Jackson Hall',
 'Matthew Jackson',
 'Ava Wright',
 'Michael Evans',
 'William King',
 'Liam Turner',
 'Karen White',
 'Olivia Lewis',
 'Amelia Walker',
 'Aiden Lewis',
 'Lucas Harris',
 'Scarlett Thompson',
 'Alexis Wilson',
 'Logan Cooper',
 'Lucas Hernandez',
 'Charlotte Lee',
 'Lucas Anderson',
 'Mary Perez',
 'Mary Johnson',
 'William Hernandez',
 'Liam Young',
 'Mia Wilson',
 'Benjamin Thompson',
 'David Thompson',
 'Richard Taylor',
 'Nora Lewis',
 'Ella Clark',
 'Joseph Wright',
 'Lily Perez',
 'Henry Harris',
 'Grace Carter',
 'Liam Lee',
 'Mark Hernandez',
 'Isabella Wright',
 'Zoe Davis',
 'Sophia Hall',
 'Matthew Thompson',
 'Chloe Williams',
 'Logan Lewis',
 'John Scott',
 'Madison Robinson',
 'Scarlett Lopez',
 'Christopher Hernandez',
 'Henry Hernandez',
 'Aiden Wilson',
 'Chloe Anderson',
 'Emma Smith',
 'Sarah Harris',
 'Elizabeth Brown',
 'Elizabeth Wilson',
 'William Thompson',
 'Liam Lewis',
 'Thomas White',
 'Michael Wilson',
 'Anna Thompson',
 'Lily Garcia',
 'Elizabeth Lewis',
 'Ava Hall',
 'Ella Robinson',
 'Jackson White',
 'Madison Moore',
 'Joshua Harris',
 'Andrew Thompson',
 'Olivia Wilson',
 'Lucy Moore',
 'Olivia Walker',
 'John Young',
 'Emily Martin',
 'Olivia Smith',
 'Jennifer Garcia',
 'Richard Cooper',
 'Logan Perez',
 'Benjamin Wright',
 'Aria Green',
 'Nathan Lee',
 'Victoria Wilson',
 'Michael Miller',
 'Sophia Garcia',
 'Aria Harris',
 'Mia Cooper',
 'Charles Lewis',
 'Elizabeth Clark',
 'Jackson Davis',
 'Chloe Lee',
 'Charles Moore',
 'Amelia Jackson',
 'Andrew Anderson',
 'James Baker',
 'Charlotte Taylor',
 'Emma Lewis',
 'Michael Anderson',
 'John Adams',
 'Aiden Lewis',
 'Jane Adams',
 'Aiden Wright',
 'Liam Hall',
 'Anna Wilson',
 'Anna Phillips',
 'Elizabeth Carter',
 'Aiden Robinson',
 'Thomas Anderson',
 'Lily Johnson',
 'Amelia Williams',
 'Ella Martin',
 'Sophia Garcia',
 'Mark Moore',
 'Liam Harris',
 'Nora Young',
 'Olivia Baker',
 'Christopher Robinson',
 'Chloe Hall',
 'Joseph Harris',
 'Zoe Martin',
 'Robert Carter',
 'Ella Carter',
 'Karen Harris',
 'Sophie Williams',
 'Charlotte Cooper',
 'Joshua Anderson',
 'Charles Williams',
 'Mia Moore']

In [44]:
# Create a dictionary to map the original column names to their actual names
column_mapping = {
    "lbxsal": "Albumin (g/dL)",
    "lbdsalsi": "Albumin (g/L)",
    "lbxsatsi": "Alanine aminotransferase ALT (U/L)",
    "lbxsassi": "Aspartate aminotransferase AST (U/L)",
    "lbxsapsi": "Alkaline phosphatase (U/L)",
    "lbxsbu": "Blood urea nitrogen (mg/dL)",
    "lbdsbusi": "Blood urea nitrogen (mmol/L)",
    "lbxsca": "Total calcium (mg/dL)",
    "lbdscasi": "Total calcium (mmol/L)",
    "lbxsck": "Creatine Phosphokinase (CPK) (IU/L)",
    "lbxsch": "Cholesterol (mg/dL)",
    "lbdschsi": "Cholesterol (mmol/L)",
    "lbxsc3si": "Bicarbonate (mmol/L)",
    "lbxscr": "Creatinine (mg/dL)",
    "lbdscrsi": "Creatinine (umol/L)",
    "lbxsgtsi": "Gamma glutamyl transferase (U/L)",
    "lbxsgl": "Glucose, serum (mg/dL)",
    "lbdsglsi": "Glucose, serum (mmol/L)",
    "lbxsir": "Iron, refrigerated (ug/dL)",
    "lbdsirsi": "Iron, refrigerated (umol/L)",
    "lbxslidsi": "Lactate dehydrogenase (U/L)",
    "lbxsph": "Phosphorus (mg/dL)",
    "lbdspohsi": "Phosphorus (mmol/L)",
    "lbxstb": "Total bilirubin (mg/dL)",
    "lbdstbsi": "Total bilirubin (umol/L)",
    "lbxstp": "Total protein (g/dL)",
    "lbdstpsi": "Total protein (g/L)",
    "lbxsua": "Uric acid (mg/dL)",
    "lbdsuasi": "Uric acid (umol/L)",
    "lbxsnasi": "Sodium (mmol/L)",
    "lbxksi": "Potassium (mmol/L)",
    "lbxsclsi": "Chloride (mmol/L)",
    "lbxsossi": "Osmolality (mmol/Kg)",
    "lbxsbg": "Globulin (g/dL)",
    "lbdsgbsi": "Globulin (g/L)",
    "lbxstr": "Triglycerides (mg/dL)",
    "lbdstrsi": "Triglycerides (mmol/L)"
}



# Rename the columns using the mapping dictionary
renamed_df = a.rename(columns=column_mapping)

# Display the updated DataFrame
renamed_df

,Albumin (g/dL),Albumin (g/L),Alanine aminotransferase ALT (U/L),Aspartate aminotransferase AST (U/L),Alkaline phosphatase (U/L),Blood urea nitrogen (mg/dL),Blood urea nitrogen (mmol/L),Total calcium (mg/dL),Total calcium (mmol/L),Creatine Phosphokinase (CPK) (IU/L),...,Uric acid (mg/dL),Uric acid (umol/L),Sodium (mmol/L),lbxsksi,Chloride (mmol/L),Osmolality (mmol/Kg),lbxsgb,Globulin (g/L),Triglycerides (mg/dL),Triglycerides (mmol/L)
0,4.8,48.0,19.0,25.0,89.0,14.0,5.00,9.6,2.400,108.0,...,4.9,291.5,137.0,3.9,100.0,274.0,2.8,28.0,82.0,0.926
1,4.0,40.0,13.0,19.0,167.0,16.0,5.71,9.1,2.275,147.0,...,5.8,345.0,137.0,3.8,104.0,273.0,3.0,30.0,114.0,1.287
2,3.7,37.0,29.0,37.0,23.0,5.0,1.79,9.2,2.300,494.0,...,4.5,267.7,138.0,4.3,104.0,271.0,2.3,23.0,53.0,0.598
3,4.1,41.0,13.0,19.0,94.0,12.0,4.28,9.7,2.425,135.0,...,5.8,345.0,139.0,4.0,105.0,277.0,2.8,28.0,68.0,0.768
4,4.4,44.0,19.0,17.0,51.0,16.0,5.71,9.2,2.300,80.0,...,5.4,321.2,139.0,4.4,103.0,278.0,2.1,21.0,75.0,0.847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6544,4.8,48.0,20.0,19.0,52.0,15.0,5.36,9.1,2.275,197.0,...,6.2,368.8,138.0,4.2,103.0,276.0,2.9,29.0,125.0,1.411
6545,4.1,41.0,38.0,26.0,92.0,11.0,3.93,10.0,2.500,267.0,...,6.3,374.7,140.0,4.1,107.0,279.0,3.0,30.0,354.0,3.997
6546,4.7,47.0,28.0,29.0,65.0,7.0,2.50,9.1,2.275,85.0,...,4.4,261.7,139.0,3.2,101.0,278.0,3.0,30.0,80.0,0.903
6547,4.2,42.0,22.0,21.0,77.0,11.0,3.93,9.4,2.350,43.0,...,5.2,309.3,141.0,4.1,104.0,280.0,2.1,21.0,237.0,2.676
6548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
import numpy as np

# Insert an empty column at the beginning
renamed_df.insert(0, "ID", np.nan)  # You can use np.nan for an empty column
renamed_df

,ID,Albumin (g/dL),Albumin (g/L),Alanine aminotransferase ALT (U/L),Aspartate aminotransferase AST (U/L),Alkaline phosphatase (U/L),Blood urea nitrogen (mg/dL),Blood urea nitrogen (mmol/L),Total calcium (mg/dL),Total calcium (mmol/L),...,Uric acid (mg/dL),Uric acid (umol/L),Sodium (mmol/L),lbxsksi,Chloride (mmol/L),Osmolality (mmol/Kg),lbxsgb,Globulin (g/L),Triglycerides (mg/dL),Triglycerides (mmol/L)
0,NaN,4.8,48.0,19.0,25.0,89.0,14.0,5.00,9.6,2.400,...,4.9,291.5,137.0,3.9,100.0,274.0,2.8,28.0,82.0,0.926
1,NaN,4.0,40.0,13.0,19.0,167.0,16.0,5.71,9.1,2.275,...,5.8,345.0,137.0,3.8,104.0,273.0,3.0,30.0,114.0,1.287
2,NaN,3.7,37.0,29.0,37.0,23.0,5.0,1.79,9.2,2.300,...,4.5,267.7,138.0,4.3,104.0,271.0,2.3,23.0,53.0,0.598
3,NaN,4.1,41.0,13.0,19.0,94.0,12.0,4.28,9.7,2.425,...,5.8,345.0,139.0,4.0,105.0,277.0,2.8,28.0,68.0,0.768
4,NaN,4.4,44.0,19.0,17.0,51.0,16.0,5.71,9.2,2.300,...,5.4,321.2,139.0,4.4,103.0,278.0,2.1,21.0,75.0,0.847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6544,NaN,4.8,48.0,20.0,19.0,52.0,15.0,5.36,9.1,2.275,...,6.2,368.8,138.0,4.2,103.0,276.0,2.9,29.0,125.0,1.411
6545,NaN,4.1,41.0,38.0,26.0,92.0,11.0,3.93,10.0,2.500,...,6.3,374.7,140.0,4.1,107.0,279.0,3.0,30.0,354.0,3.997
6546,NaN,4.7,47.0,28.0,29.0,65.0,7.0,2.50,9.1,2.275,...,4.4,261.7,139.0,3.2,101.0,278.0,3.0,30.0,80.0,0.903
6547,NaN,4.2,42.0,22.0,21.0,77.0,11.0,3.93,9.4,2.350,...,5.2,309.3,141.0,4.1,104.0,280.0,2.1,21.0,237.0,2.676
6548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
b = renamed_df.iloc[0:6000, 0:]  # slicing only the values without id and seqn
b

,ID,Albumin (g/dL),Albumin (g/L),Alanine aminotransferase ALT (U/L),Aspartate aminotransferase AST (U/L),Alkaline phosphatase (U/L),Blood urea nitrogen (mg/dL),Blood urea nitrogen (mmol/L),Total calcium (mg/dL),Total calcium (mmol/L),...,Uric acid (mg/dL),Uric acid (umol/L),Sodium (mmol/L),lbxsksi,Chloride (mmol/L),Osmolality (mmol/Kg),lbxsgb,Globulin (g/L),Triglycerides (mg/dL),Triglycerides (mmol/L)
0,NaN,4.8,48.0,19.0,25.0,89.0,14.0,5.00,9.6,2.400,...,4.9,291.5,137.0,3.9,100.0,274.0,2.8,28.0,82.0,0.926
1,NaN,4.0,40.0,13.0,19.0,167.0,16.0,5.71,9.1,2.275,...,5.8,345.0,137.0,3.8,104.0,273.0,3.0,30.0,114.0,1.287
2,NaN,3.7,37.0,29.0,37.0,23.0,5.0,1.79,9.2,2.300,...,4.5,267.7,138.0,4.3,104.0,271.0,2.3,23.0,53.0,0.598
3,NaN,4.1,41.0,13.0,19.0,94.0,12.0,4.28,9.7,2.425,...,5.8,345.0,139.0,4.0,105.0,277.0,2.8,28.0,68.0,0.768
4,NaN,4.4,44.0,19.0,17.0,51.0,16.0,5.71,9.2,2.300,...,5.4,321.2,139.0,4.4,103.0,278.0,2.1,21.0,75.0,0.847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,NaN,4.4,44.0,50.0,50.0,68.0,5.0,1.79,9.7,2.425,...,7.7,458.0,136.0,4.1,101.0,269.0,3.5,35.0,277.0,3.127
5996,NaN,4.7,47.0,17.0,22.0,60.0,14.0,5.00,9.5,2.375,...,6.1,362.8,138.0,4.1,100.0,275.0,3.1,31.0,120.0,1.355
5997,NaN,4.8,48.0,24.0,24.0,63.0,14.0,5.00,9.8,2.450,...,3.2,190.3,137.0,4.0,99.0,278.0,2.5,25.0,99.0,1.118
5998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5999,NaN,4.2,42.0,18.0,18.0,68.0,12.0,4.28,9.4,2.350,...,4.6,273.6,140.0,4.1,102.0,279.0,2.2,22.0,97.0,1.095

In [74]:
# Determine the number of unique IDs and repetitions
num_ids = len(b) // 6
min_repetitions = 6

# Create a list of unique IDs
unique_ids = list(range(1, num_ids + 1))

# Randomly shuffle the list of unique IDs
random.shuffle(unique_ids)

# Create a list of IDs with at least 6 repetitions each
id_list = [id for id in unique_ids for _ in range(min_repetitions)]

# Add the "ID" column to the DataFrame
b['ID'] = id_list

# Shuffle the DataFrame to randomize the order
b = b.sample(frac=1).reset_index(drop=True)

In [75]:
b # b is the dataframe with random IDs

,ID,Albumin (g/dL),Albumin (g/L),Alanine aminotransferase ALT (U/L),Aspartate aminotransferase AST (U/L),Alkaline phosphatase (U/L),Blood urea nitrogen (mg/dL),Blood urea nitrogen (mmol/L),Total calcium (mg/dL),Total calcium (mmol/L),...,Uric acid (mg/dL),Uric acid (umol/L),Sodium (mmol/L),lbxsksi,Chloride (mmol/L),Osmolality (mmol/Kg),lbxsgb,Globulin (g/L),Triglycerides (mg/dL),Triglycerides (mmol/L)
0,215,4.2,42.0,36.0,34.0,35.0,8.0,2.86,8.7,2.175,...,4.7,279.6,140.0,3.5,103.0,277.0,3.1,31.0,118.0,1.332
1,20,4.4,44.0,20.0,26.0,80.0,10.0,3.57,8.8,2.200,...,3.9,232.0,137.0,3.5,103.0,273.0,3.1,31.0,83.0,0.937
2,589,4.4,44.0,51.0,39.0,65.0,14.0,5.00,9.6,2.400,...,6.9,410.4,139.0,4.0,100.0,278.0,3.4,34.0,140.0,1.581
3,830,4.6,46.0,33.0,28.0,102.0,14.0,5.00,9.9,2.475,...,8.1,481.8,139.0,4.1,98.0,278.0,2.9,29.0,168.0,1.897
4,170,4.0,40.0,13.0,15.0,54.0,11.0,3.93,8.5,2.125,...,4.4,261.7,135.0,3.6,103.0,269.0,2.3,23.0,47.0,0.531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,745,3.7,37.0,19.0,17.0,92.0,7.0,2.50,9.6,2.400,...,5.9,350.9,141.0,3.8,106.0,282.0,3.3,33.0,98.0,1.106
5996,672,4.4,44.0,16.0,18.0,46.0,13.0,4.64,8.9,2.225,...,6.1,362.8,141.0,3.8,105.0,282.0,2.4,24.0,328.0,3.703
5997,764,3.3,33.0,14.0,18.0,76.0,7.0,2.50,8.8,2.200,...,3.6,214.1,137.0,3.5,105.0,270.0,3.0,30.0,203.0,2.292
5998,18,4.4,44.0,12.0,20.0,70.0,14.0,5.00,9.4,2.350,...,6.4,380.7,141.0,4.3,106.0,281.0,2.9,29.0,97.0,1.095
5999,721,4.4,44.0,19.0,24.0,220.0,9.0,3.21,9.7,2.425,...,5.4,321.2,141.0,3.8,106.0,280.0,2.0,20.0,162.0,1.829

In [76]:
# Create a boolean mask for rows where "ID" is equal to 300 
mask = b["ID"] == 300

# Use the mask to select the rows
result = b[mask]

# Display the rows with "ID" equal to 300
result

,ID,Albumin (g/dL),Albumin (g/L),Alanine aminotransferase ALT (U/L),Aspartate aminotransferase AST (U/L),Alkaline phosphatase (U/L),Blood urea nitrogen (mg/dL),Blood urea nitrogen (mmol/L),Total calcium (mg/dL),Total calcium (mmol/L),...,Uric acid (mg/dL),Uric acid (umol/L),Sodium (mmol/L),lbxsksi,Chloride (mmol/L),Osmolality (mmol/Kg),lbxsgb,Globulin (g/L),Triglycerides (mg/dL),Triglycerides (mmol/L)
1650,300,4.3,43.0,27.0,23.0,79.0,13.0,4.64,9.2,2.300,...,7.2,428.3,138.0,3.6,105.0,276.0,2.6,26.0,130.0,1.468
2154,300,4.0,40.0,16.0,24.0,135.0,7.0,2.50,9.3,2.325,...,5.2,309.3,141.0,4.1,105.0,279.0,3.4,34.0,80.0,0.903
2389,300,4.6,46.0,36.0,54.0,77.0,14.0,5.00,9.4,2.350,...,7.3,434.2,137.0,3.8,101.0,273.0,3.2,32.0,47.0,0.531
2708,300,4.9,49.0,22.0,29.0,39.0,8.0,2.86,9.5,2.375,...,4.4,261.7,142.0,3.8,104.0,280.0,2.7,27.0,76.0,0.858
3380,300,4.6,46.0,18.0,26.0,54.0,10.0,3.57,10.0,2.500,...,4.4,261.7,135.0,4.1,100.0,268.0,3.3,33.0,88.0,0.994
5566,300,4.3,43.0,15.0,23.0,139.0,3.0,1.07,9.8,2.450,...,4.5,267.7,139.0,4.1,103.0,274.0,3.3,33.0,90.0,1.016

In [77]:
# Create a boolean mask for rows where "ID" is equal to 300 
mask = b["ID"] == 5

# Use the mask to select the rows
result = b[mask]

# Display the rows with "ID" equal to 300
result

,ID,Albumin (g/dL),Albumin (g/L),Alanine aminotransferase ALT (U/L),Aspartate aminotransferase AST (U/L),Alkaline phosphatase (U/L),Blood urea nitrogen (mg/dL),Blood urea nitrogen (mmol/L),Total calcium (mg/dL),Total calcium (mmol/L),...,Uric acid (mg/dL),Uric acid (umol/L),Sodium (mmol/L),lbxsksi,Chloride (mmol/L),Osmolality (mmol/Kg),lbxsgb,Globulin (g/L),Triglycerides (mg/dL),Triglycerides (mmol/L)
917,5,4.7,47.0,27.0,26.0,56.0,22.0,7.85,9.6,2.400,...,5.7,339.0,138.0,4.0,103.0,279.0,2.6,26.0,64.0,0.723
2021,5,4.6,46.0,20.0,34.0,56.0,16.0,5.71,9.7,2.425,...,5.7,339.0,142.0,3.9,104.0,284.0,2.3,23.0,142.0,1.603
4445,5,4.5,45.0,14.0,21.0,333.0,13.0,4.64,10.0,2.500,...,4.7,279.6,140.0,4.7,103.0,279.0,3.0,30.0,34.0,0.384
4666,5,4.4,44.0,13.0,21.0,95.0,26.0,9.28,9.4,2.350,...,6.6,392.6,143.0,4.3,103.0,292.0,3.0,30.0,80.0,0.903
5235,5,4.6,46.0,29.0,29.0,59.0,16.0,5.71,9.3,2.325,...,5.5,327.1,139.0,3.4,103.0,278.0,3.1,31.0,225.0,2.540
5799,5,4.2,42.0,12.0,18.0,87.0,6.0,2.14,9.4,2.350,...,5.0,297.4,142.0,4.0,106.0,280.0,3.5,35.0,173.0,1.953

In [78]:
# Remove rows with at least one NaN value
b = b.dropna()

# Reset the index
b.reset_index(drop=True, inplace=True)

In [79]:
b # dataframe free of nan values

,ID,Albumin (g/dL),Albumin (g/L),Alanine aminotransferase ALT (U/L),Aspartate aminotransferase AST (U/L),Alkaline phosphatase (U/L),Blood urea nitrogen (mg/dL),Blood urea nitrogen (mmol/L),Total calcium (mg/dL),Total calcium (mmol/L),...,Uric acid (mg/dL),Uric acid (umol/L),Sodium (mmol/L),lbxsksi,Chloride (mmol/L),Osmolality (mmol/Kg),lbxsgb,Globulin (g/L),Triglycerides (mg/dL),Triglycerides (mmol/L)
0,215,4.2,42.0,36.0,34.0,35.0,8.0,2.86,8.7,2.175,...,4.7,279.6,140.0,3.5,103.0,277.0,3.1,31.0,118.0,1.332
1,20,4.4,44.0,20.0,26.0,80.0,10.0,3.57,8.8,2.200,...,3.9,232.0,137.0,3.5,103.0,273.0,3.1,31.0,83.0,0.937
2,589,4.4,44.0,51.0,39.0,65.0,14.0,5.00,9.6,2.400,...,6.9,410.4,139.0,4.0,100.0,278.0,3.4,34.0,140.0,1.581
3,830,4.6,46.0,33.0,28.0,102.0,14.0,5.00,9.9,2.475,...,8.1,481.8,139.0,4.1,98.0,278.0,2.9,29.0,168.0,1.897
4,170,4.0,40.0,13.0,15.0,54.0,11.0,3.93,8.5,2.125,...,4.4,261.7,135.0,3.6,103.0,269.0,2.3,23.0,47.0,0.531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5457,745,3.7,37.0,19.0,17.0,92.0,7.0,2.50,9.6,2.400,...,5.9,350.9,141.0,3.8,106.0,282.0,3.3,33.0,98.0,1.106
5458,672,4.4,44.0,16.0,18.0,46.0,13.0,4.64,8.9,2.225,...,6.1,362.8,141.0,3.8,105.0,282.0,2.4,24.0,328.0,3.703
5459,764,3.3,33.0,14.0,18.0,76.0,7.0,2.50,8.8,2.200,...,3.6,214.1,137.0,3.5,105.0,270.0,3.0,30.0,203.0,2.292
5460,18,4.4,44.0,12.0,20.0,70.0,14.0,5.00,9.4,2.350,...,6.4,380.7,141.0,4.3,106.0,281.0,2.9,29.0,97.0,1.095
5461,721,4.4,44.0,19.0,24.0,220.0,9.0,3.21,9.7,2.425,...,5.4,321.2,141.0,3.8,106.0,280.0,2.0,20.0,162.0,1.829

In [83]:
from datetime import datetime, timedelta
b_copy = b.copy()

# Function to generate random dates with a minimum 1-month gap
def generate_dates(num_dates):
    dates = [datetime(2019, 1, 1)]  # Start date
    for _ in range(1, num_dates):
        # Add a random number of days (between 30 and 60 days) to the last date
        next_date = dates[-1] + timedelta(days=random.randint(30, 60))
        dates.append(next_date)
    return dates

# Group the DataFrame by 'ID' and update the "Date" column with generated dates
b_copy ['Date'] = b_copy .groupby('ID')['ID'].transform(lambda x: generate_dates(len(x)))

# Reset the index
b_copy .reset_index(drop=True, inplace=True)

# Display the updated DataFrame
b_copy

,ID,Albumin (g/dL),Albumin (g/L),Alanine aminotransferase ALT (U/L),Aspartate aminotransferase AST (U/L),Alkaline phosphatase (U/L),Blood urea nitrogen (mg/dL),Blood urea nitrogen (mmol/L),Total calcium (mg/dL),Total calcium (mmol/L),...,Uric acid (umol/L),Sodium (mmol/L),lbxsksi,Chloride (mmol/L),Osmolality (mmol/Kg),lbxsgb,Globulin (g/L),Triglycerides (mg/dL),Triglycerides (mmol/L),Date
0,215,4.2,42.0,36.0,34.0,35.0,8.0,2.86,8.7,2.175,...,279.6,140.0,3.5,103.0,277.0,3.1,31.0,118.0,1.332,2019-01-01
1,20,4.4,44.0,20.0,26.0,80.0,10.0,3.57,8.8,2.200,...,232.0,137.0,3.5,103.0,273.0,3.1,31.0,83.0,0.937,2019-01-01
2,589,4.4,44.0,51.0,39.0,65.0,14.0,5.00,9.6,2.400,...,410.4,139.0,4.0,100.0,278.0,3.4,34.0,140.0,1.581,2019-01-01
3,830,4.6,46.0,33.0,28.0,102.0,14.0,5.00,9.9,2.475,...,481.8,139.0,4.1,98.0,278.0,2.9,29.0,168.0,1.897,2019-01-01
4,170,4.0,40.0,13.0,15.0,54.0,11.0,3.93,8.5,2.125,...,261.7,135.0,3.6,103.0,269.0,2.3,23.0,47.0,0.531,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5457,745,3.7,37.0,19.0,17.0,92.0,7.0,2.50,9.6,2.400,...,350.9,141.0,3.8,106.0,282.0,3.3,33.0,98.0,1.106,2019-08-13
5458,672,4.4,44.0,16.0,18.0,46.0,13.0,4.64,8.9,2.225,...,362.8,141.0,3.8,105.0,282.0,2.4,24.0,328.0,3.703,2019-07-21
5459,764,3.3,33.0,14.0,18.0,76.0,7.0,2.50,8.8,2.200,...,214.1,137.0,3.5,105.0,270.0,3.0,30.0,203.0,2.292,2019-07-27
5460,18,4.4,44.0,12.0,20.0,70.0,14.0,5.00,9.4,2.350,...,380.7,141.0,4.3,106.0,281.0,2.9,29.0,97.0,1.095,2019-08-04
5461,721,4.4,44.0,19.0,24.0,220.0,9.0,3.21,9.7,2.425,...,321.2,141.0,3.8,106.0,280.0,2.0,20.0,162.0,1.829,2019-08-20

In [85]:

# Move 'Date' to the second position while preserving 'ID'
b_copy = b_copy[['ID', 'Date'] + [col for col in b_copy if col not in ['ID', 'Date']]]

b_copy

,ID,Date,Albumin (g/dL),Albumin (g/L),Alanine aminotransferase ALT (U/L),Aspartate aminotransferase AST (U/L),Alkaline phosphatase (U/L),Blood urea nitrogen (mg/dL),Blood urea nitrogen (mmol/L),Total calcium (mg/dL),...,Uric acid (mg/dL),Uric acid (umol/L),Sodium (mmol/L),lbxsksi,Chloride (mmol/L),Osmolality (mmol/Kg),lbxsgb,Globulin (g/L),Triglycerides (mg/dL),Triglycerides (mmol/L)
0,215,2019-01-01,4.2,42.0,36.0,34.0,35.0,8.0,2.86,8.7,...,4.7,279.6,140.0,3.5,103.0,277.0,3.1,31.0,118.0,1.332
1,20,2019-01-01,4.4,44.0,20.0,26.0,80.0,10.0,3.57,8.8,...,3.9,232.0,137.0,3.5,103.0,273.0,3.1,31.0,83.0,0.937
2,589,2019-01-01,4.4,44.0,51.0,39.0,65.0,14.0,5.00,9.6,...,6.9,410.4,139.0,4.0,100.0,278.0,3.4,34.0,140.0,1.581
3,830,2019-01-01,4.6,46.0,33.0,28.0,102.0,14.0,5.00,9.9,...,8.1,481.8,139.0,4.1,98.0,278.0,2.9,29.0,168.0,1.897
4,170,2019-01-01,4.0,40.0,13.0,15.0,54.0,11.0,3.93,8.5,...,4.4,261.7,135.0,3.6,103.0,269.0,2.3,23.0,47.0,0.531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5457,745,2019-08-13,3.7,37.0,19.0,17.0,92.0,7.0,2.50,9.6,...,5.9,350.9,141.0,3.8,106.0,282.0,3.3,33.0,98.0,1.106
5458,672,2019-07-21,4.4,44.0,16.0,18.0,46.0,13.0,4.64,8.9,...,6.1,362.8,141.0,3.8,105.0,282.0,2.4,24.0,328.0,3.703
5459,764,2019-07-27,3.3,33.0,14.0,18.0,76.0,7.0,2.50,8.8,...,3.6,214.1,137.0,3.5,105.0,270.0,3.0,30.0,203.0,2.292
5460,18,2019-08-04,4.4,44.0,12.0,20.0,70.0,14.0,5.00,9.4,...,6.4,380.7,141.0,4.3,106.0,281.0,2.9,29.0,97.0,1.095
5461,721,2019-08-20,4.4,44.0,19.0,24.0,220.0,9.0,3.21,9.7,...,5.4,321.2,141.0,3.8,106.0,280.0,2.0,20.0,162.0,1.829

In [86]:
final_version = b_copy
final_version # it contains ID, date, actual code names

,ID,Date,Albumin (g/dL),Albumin (g/L),Alanine aminotransferase ALT (U/L),Aspartate aminotransferase AST (U/L),Alkaline phosphatase (U/L),Blood urea nitrogen (mg/dL),Blood urea nitrogen (mmol/L),Total calcium (mg/dL),...,Uric acid (mg/dL),Uric acid (umol/L),Sodium (mmol/L),lbxsksi,Chloride (mmol/L),Osmolality (mmol/Kg),lbxsgb,Globulin (g/L),Triglycerides (mg/dL),Triglycerides (mmol/L)
0,215,2019-01-01,4.2,42.0,36.0,34.0,35.0,8.0,2.86,8.7,...,4.7,279.6,140.0,3.5,103.0,277.0,3.1,31.0,118.0,1.332
1,20,2019-01-01,4.4,44.0,20.0,26.0,80.0,10.0,3.57,8.8,...,3.9,232.0,137.0,3.5,103.0,273.0,3.1,31.0,83.0,0.937
2,589,2019-01-01,4.4,44.0,51.0,39.0,65.0,14.0,5.00,9.6,...,6.9,410.4,139.0,4.0,100.0,278.0,3.4,34.0,140.0,1.581
3,830,2019-01-01,4.6,46.0,33.0,28.0,102.0,14.0,5.00,9.9,...,8.1,481.8,139.0,4.1,98.0,278.0,2.9,29.0,168.0,1.897
4,170,2019-01-01,4.0,40.0,13.0,15.0,54.0,11.0,3.93,8.5,...,4.4,261.7,135.0,3.6,103.0,269.0,2.3,23.0,47.0,0.531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5457,745,2019-08-13,3.7,37.0,19.0,17.0,92.0,7.0,2.50,9.6,...,5.9,350.9,141.0,3.8,106.0,282.0,3.3,33.0,98.0,1.106
5458,672,2019-07-21,4.4,44.0,16.0,18.0,46.0,13.0,4.64,8.9,...,6.1,362.8,141.0,3.8,105.0,282.0,2.4,24.0,328.0,3.703
5459,764,2019-07-27,3.3,33.0,14.0,18.0,76.0,7.0,2.50,8.8,...,3.6,214.1,137.0,3.5,105.0,270.0,3.0,30.0,203.0,2.292
5460,18,2019-08-04,4.4,44.0,12.0,20.0,70.0,14.0,5.00,9.4,...,6.4,380.7,141.0,4.3,106.0,281.0,2.9,29.0,97.0,1.095
5461,721,2019-08-20,4.4,44.0,19.0,24.0,220.0,9.0,3.21,9.7,...,5.4,321.2,141.0,3.8,106.0,280.0,2.0,20.0,162.0,1.829

In [87]:
final_version.describe()

,ID,Date,Albumin (g/dL),Albumin (g/L),Alanine aminotransferase ALT (U/L),Aspartate aminotransferase AST (U/L),Alkaline phosphatase (U/L),Blood urea nitrogen (mg/dL),Blood urea nitrogen (mmol/L),Total calcium (mg/dL),...,Uric acid (mg/dL),Uric acid (umol/L),Sodium (mmol/L),lbxsksi,Chloride (mmol/L),Osmolality (mmol/Kg),lbxsgb,Globulin (g/L),Triglycerides (mg/dL),Triglycerides (mmol/L)
count,5462.000000,5462,5462.000000,5462.000000,5462.000000,5462.000000,5462.000000,5462.000000,5462.000000,5462.000000,...,5462.000000,5462.000000,5462.000000,5462.000000,5462.000000,5462.000000,5462.000000,5462.000000,5462.000000,5462.000000
mean,502.218418,2019-04-13 14:09:11.006957056,4.306280,43.062798,23.402600,25.082937,80.111864,12.515013,4.468255,9.418308,...,5.358642,318.731820,138.987367,3.940004,103.950934,277.535701,2.886745,28.867448,138.826803,1.567359
min,1.000000,2019-01-01 00:00:00,2.100000,21.000000,5.000000,7.000000,7.000000,2.000000,0.710000,6.500000,...,0.400000,23.800000,102.000000,2.300000,70.000000,207.000000,0.700000,7.000000,12.000000,0.135000
25%,252.000000,2019-02-12 00:00:00,4.100000,41.000000,15.000000,19.000000,54.000000,9.000000,3.210000,9.200000,...,4.300000,255.800000,138.000000,3.700000,102.000000,275.000000,2.600000,26.000000,70.000000,0.790000
50%,502.000000,2019-04-10 00:00:00,4.300000,43.000000,19.000000,22.000000,67.000000,12.000000,4.280000,9.400000,...,5.200000,309.300000,139.000000,3.900000,104.000000,277.000000,2.800000,28.000000,107.000000,1.208000
75%,752.750000,2019-06-11 00:00:00,4.500000,45.000000,26.000000,27.000000,85.000000,15.000000,5.360000,9.600000,...,6.200000,368.800000,140.000000,4.100000,106.000000,280.000000,3.100000,31.000000,169.000000,1.908000
max,1000.000000,2019-10-08 00:00:00,5.500000,55.000000,443.000000,302.000000,729.000000,95.000000,33.920000,11.300000,...,11.300000,672.100000,153.000000,5.600000,115.000000,315.000000,5.900000,59.000000,2233.000000,25.211000
std,289.170054,NaN,0.346213,3.462131,17.264001,13.601958,53.421729,5.507935,1.966401,0.357115,...,1.424016,84.700645,2.194036,0.338596,2.802765,4.935373,0.457396,4.573957,111.991462,1.264380